
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

  <title>My Tasks</title>

  <!-- Bootstrap core CSS -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script> 
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

  <!-- Custom styles for this template -->
  <style>
  body {
    padding-top: 50px;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  </style>

  <script type="text/javascript">
$().ready(function() {
})
</script>
<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Public Internet Finder</a>
            <ul class="nav nav-pills pull-right" style=''>
              <li class="active btn btn-sm" id='logout' 
              style='display:none'><a onclick='logout()' href="#">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div style='display:none'>
        <button onclick='show_page(1)' type='button'>Show 1</button>
        <button onclick='show_page(2)' type='button'>Show 2</button>
        <button onclick='show_page(3)' type='button'>Show 3</button>
      </div>

      <div class="container" >
        <div class="well">
        	<div>
        	<p><% @listings.each do |listing |%>
        	<p><a href='<%= listing['map'] %>'><%= listing['site'].name %></a></p>
        	<p><%= listing['site'].address %></p>
        	<p><%= listing['site'].zip %></p>
        	<p><%= listing['miles'] %> miles</p>
        	<p>&nbsp;</p>
        	<% end %>	
        </div>
        </div>
      </div>
  </body>
</html>