
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

  <title>My Tasks</title>

  <!-- Bootstrap core CSS -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script> 
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

  <!-- Custom styles for this template -->
  <style>
  body {
    padding-top: 50px;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  </style>

  <script type="text/javascript">
  $().ready(function() {
  })
  </script>
  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Public Internet Finder</a>
            <ul class="nav nav-pills pull-right" style=''>
              <li class="active btn btn-sm" id='logout' 
              style='display:none'><a onclick='logout()' href="#">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form">
              <div class="form-group">
                <input type="text" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" class="form-control">
              </div>
              <a class="btn btn-success" href='/sites'>Sign in</a>
            </form>
          </div><!--/.navbar-collapse -->
        </div>
      </div>
    </div>

    <div class="container" >
      <div class="row">
         <div class="span12" style='text-align:center'>
          <img width='800' src='LocalFreeWeb02colorWhiteBG.png'>
         </div>
      </div>
      <div class="well">
        <form role="form" method="POST" action="/main/found">
          <div class="form-group">
            <label for="street">Street Address</label>
            <input type="text" class="form-control" value="169 11th Street"
            id="street" name="street" placeholder="street address">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" value="San Francisco"
            id="city" name="city" placeholder="city">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">State</label>
            <input type="text" class="form-control" value="California"
            id="state" name="state" placeholder="state">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">ZIP</label>
            <input type="text" class="form-control" value="94103"
            id="zip" name="zip" placeholder="zip">
          </div>
          <input name="authenticity_token" type="hidden" value="token_value">
          <button type="submit" onclick='login()' 
          class="btn btn-default">Search</button>
        </form>
      </div>
    </div>
  </body>
  </html>