<h1>Listing sites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Contact</th>
      <th>Url</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Macs</th>
      <th>Pcs</th>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wedndesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Holidays</th>
      <th>Languages</th>
      <th>Lat</th>
      <th>Lon</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.name %></td>
        <td><%= site.address %></td>
        <td><%= site.city %></td>
        <td><%= site.state %></td>
        <td><%= site.zip %></td>
        <td><%= site.phone %></td>
        <td><%= site.contact %></td>
        <td><%= site.url %></td>
        <td><%= site.facebook %></td>
        <td><%= site.twitter %></td>
        <td><%= site.macs %></td>
        <td><%= site.pcs %></td>
        <td><%= site.sunday %></td>
        <td><%= site.monday %></td>
        <td><%= site.tuesday %></td>
        <td><%= site.wedndesday %></td>
        <td><%= site.thursday %></td>
        <td><%= site.friday %></td>
        <td><%= site.saturday %></td>
        <td><%= site.holidays %></td>
        <td><%= site.languages %></td>
        <td><%= site.lat %></td>
        <td><%= site.lon %></td>
        <td><%= link_to 'Show', site %></td>
        <td><%= link_to 'Edit', edit_site_path(site) %></td>
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path %>
