<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @site.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @site.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @site.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @site.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @site.phone %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @site.contact %>
</p>

<p>
  <strong>Url:</strong>
  <%= @site.url %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @site.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @site.twitter %>
</p>

<p>
  <strong>Macs:</strong>
  <%= @site.macs %>
</p>

<p>
  <strong>Pcs:</strong>
  <%= @site.pcs %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @site.sunday %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @site.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @site.tuesday %>
</p>

<p>
  <strong>Wedndesday:</strong>
  <%= @site.wedndesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @site.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @site.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @site.saturday %>
</p>

<p>
  <strong>Holidays:</strong>
  <%= @site.holidays %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @site.languages %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @site.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @site.lon %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
